@charset "UTF-8";

* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-size: 2.0em;
	background: white;
	color: black;
}

main {
	width: 100%;
	max-width: 120rem;
	height: auto;
	margin: 1.0em auto;
	padding: 0.8em;
}
