.postPreview {
	flex-basis: 20em;
	flex-grow: 1;
	border: 0.05em solid #eaeaea;
	border-radius: 1em;
	padding: 0.5em;
	color: black;
	text-decoration: none;
	transition: 
		color 0.2s ease,
		border-color 0.2s ease;
}

.title {
	margin: 0.5em;
}

.postPreview p {
	margin: 0.5rem 1rem;
	color: #333333;
	transition: color 0.2s ease; 
}

.postPreview:hover {
	border-color: #00b7a2;
	color: #00b7a2;
}

.postPreview:hover p {
	color: #38c7b6;
}

.date {
	color: #555 !important; 
	font-size: 0.90em;
}
